<h1>Pages#indessx</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<input type="text" value="75" class="dial" id="c_a">
<input type="text" value="75" class="dial" id="c_b">
<input type="text" value="75" class="dial" id="c_c">

<div id="color">
  <p>Busca un color</p>
</div>

<script>
function colorbg(){
  var code = $('#c_a').val()+','+$('#c_b').val()+','+$('#c_c').val();
  $("#color").html(code);
  $("#color").css('background-color', 'rgb('+code+')');
}

    $(function() {
        $(".dial").knob({
          'min':0,
          'max':255,
          'change' : function () { colorbg() }
        });
    });
</script>
