// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#color{
  padding: 20px;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  border: 1px solid grey;
}
